@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
/* Include Default Variables & Mixins */
/* End Variables & Mixins */
/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
/*******************************************
* 2.1.1. Region user first
*******************************************/
.block-menu-user-menu .block-inner {
  float: right;
  margin-right: 10px; }

/**********************************************
* 2.4. Zone header
**********************************************/
/**
* Navigation
*/
.navigation .primary-menu .links li,
.navigation .second-menu .links li {
  font-size: 1em; }

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
.zone-content-wrapper .zone-content .region-content-inner {
  margin-bottom: 10px; }

/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Price range */
#search-api-ranges-block-slider-view-form .range-box-left .form-item,
#search-api-ranges-block-slider-view-form .range-box-right .form-item {
  margin-top: 0; }
#search-api-ranges-block-slider-view-form .range-box-left,
#search-api-ranges-block-slider-view-form .range-box-right {
  position: absolute;
  top: -30px; }
  #search-api-ranges-block-slider-view-form .range-box-left label,
  #search-api-ranges-block-slider-view-form .range-box-right label {
    display: none; }
#search-api-ranges-block-slider-view-form .range-box-left {
  left: 0; }
#search-api-ranges-block-slider-view-form .range-box-right {
  right: 0; }
  #search-api-ranges-block-slider-view-form .range-box-right #edit-range-to {
    text-align: right; }
#search-api-ranges-block-slider-view-form .range-slider-box {
  display: block;
  margin-top: 25px; }
#search-api-ranges-block-slider-view-form #edit-range-from,
#search-api-ranges-block-slider-view-form #edit-range-to {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
  width: auto; }
#search-api-ranges-block-slider-view-form #edit-submit {
  display: none; }

/* Category */
.region-sidebar-first .block-facetapi.field_category .item-list {
  border: 1px solid #d9d9d9;
  height: 220px;
  padding: 10px 15px;
  overflow-y: scroll; }

/**********************************************
* 3.2. Zone content
**********************************************/
/* HP blocks: Top advert */
#promotional_banner .promotional_banner_saving {
  display: inline-block;
  width: auto;
  padding: 0 22px 0 12px;
  margin: 10px 0 0 0;
  line-height: 38px; }

#promotional_banner .promotional_banner_special_offer {
  top: 15px; }

#block-views-demo-content-slideshow-block-1 {
  /* HP blocks: Slideshow */ }
  #block-views-demo-content-slideshow-block-1 .bx-wrapper ul.event-slider li {
    overflow: visible; }
/**********************************************
* 3.3. Zone postscript
**********************************************/
#zone-postscript .view-ad-push .views-row .views-field-field-tagline .field-content,
#zone-postscript .views-field-title .field-content {
  font-size: 18px;
  line-height: 26px; }

/**************************************************
* --
* 4. Section footer
* --
**************************************************/
/**********************************************
* 4.1. Zone footer
**********************************************/
/**
* Connect with us
*/
#block-menu-menu-social-connection h2 {
  line-height: inherit;
  padding: 0 0 22px 25px; }

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
.view-collection-products .view-header .taxonomy-title,
.view-collection-taxonomy-term .view-header .taxonomy-title {
  font-size: 3em; }
.view-collection-products .view-header .collection-terms .view-content .item-list,
.view-collection-taxonomy-term .view-header .collection-terms .view-content .item-list {
  display: block;
  float: none; }

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  width: auto; }
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {
  margin-left: 130px;
  /* LTR */
  width: 65%; }
  div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
    position: absolute;
    left: -115px;
    /* LTR */ }

/* Cloud zoom */
.node-product-type .cloud-zoom-container .cloud-zoom-gallery-thumbs .cloud-zoom-gallery {
  margin: 5px 0; }
.node-product-type .field-name-field-product form.commerce-add-to-cart label {
  float: left; }
