@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
/* Include Default Variables & Mixins */
/* End Variables & Mixins */
/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.2. Zone branding
**********************************************/
.zone-branding .region-branding .logo-img {
  float: right !important;
  text-align: right !important; }

/**
* Search block
*/
#block-views-exp-display-products-page {
  float: left !important; }

#block-views-exp-display-products-page .views-exposed-widgets {
  margin-right: 0 !important;
  margin-left: 10px; }

/**********************************************
* 2.3. Zone menu
**********************************************/
.navigation {
  /* Main menu */
  /* Secondary menu */ }
  .navigation .primary-menu ul,
  .navigation .second-menu ul {
    float: right !important; }
    .navigation .primary-menu ul li,
    .navigation .second-menu ul li {
      margin-right: 0 !important;
      margin-left: -4px !important; }
      .navigation .primary-menu ul li.last a,
      .navigation .second-menu ul li.last a {
        border-left: 1px solid #cccccc !important;
        border-right: none !important;
        margin-right: -2px !important;
        margin-left: 0 !important; }
  .navigation .primary-menu {
    float: right !important;
    margin-right: 0 !important;
    margin-left: 12px !important; }
  .navigation .second-menu {
    float: left !important; }

/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Price range */
#search-api-ranges-block-slider-view-form label {
  float: left; }

/**************************************************
* --
* 4. Section footer
* --
**************************************************/
/**********************************************
* 4.1. Zone footer
**********************************************/
/**
* Menu footer navigation
*/
.section-footer ul.menu li.expanded {
  float: right !important; }

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
.view-collection-products .view-header .view-collection-products,
.view-collection-products .view-header .collection-terms,
.view-collection-taxonomy-term .view-header .view-collection-products,
.view-collection-taxonomy-term .view-header .collection-terms {
  float: right;
  margin: 5px;
  padding-top: 0; }

/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  float: right; }
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
  right: auto !important;
  left: 0 !important; }
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display {
  float: right !important; }
  div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content .views-field-commerce-product .content .field-name-field-images {
    clear: right !important;
    float: right !important; }

/**********************************************
* 5.4. Checkout process
**********************************************/
/**
* Checkout page
* Shipping page
*/
.page-checkout #commerce-checkout-form-checkout fieldset label,
.page-checkout #commerce-checkout-form-review fieldset label {
  float: right !important; }
.page-checkout #commerce-checkout-form-checkout fieldset .commerce-customer-profile-copy label,
.page-checkout #commerce-checkout-form-review fieldset .commerce-customer-profile-copy label {
  float: none !important; }

.page-cart .entity-commerce-product .content .field-name-field-images {
  float: right !important;
  margin-right: 0px !important;
  margin-left: 8px; }

/**************************************************
* --
* 7. Blog
* --
**************************************************/
.page-blog .region-content .view-content .views-row {
  clear: right !important;
  float: right !important; }
.page-blog .region-content .view-content .views-row-even {
  clear: left !important;
  float: left !important; }

/**************************************************
* --
* 9. User account
* --
**************************************************/
.page-user,
.page-checkout {
  /* Registration form */
  /* Login form, create an account block */ }
  .page-user #user_register_form,
  .page-user #user_login_form,
  .page-user .create-account,
  .page-user #user_pass_form,
  .page-checkout #user_register_form,
  .page-checkout #user_login_form,
  .page-checkout .create-account,
  .page-checkout #user_pass_form {
    float: right !important; }
  .page-user form#user-register-form .form-item-pass .password-parent .password-strength,
  .page-user form#user-profile-form .form-item-pass .password-parent .password-strength,
  .page-checkout form#user-register-form .form-item-pass .password-parent .password-strength,
  .page-checkout form#user-profile-form .form-item-pass .password-parent .password-strength {
    right: auto !important;
    left: 15px; }
  .page-user form#user-register-form .form-item-pass .confirm-parent div.password-confirm,
  .page-user form#user-profile-form .form-item-pass .confirm-parent div.password-confirm,
  .page-checkout form#user-register-form .form-item-pass .confirm-parent div.password-confirm,
  .page-checkout form#user-profile-form .form-item-pass .confirm-parent div.password-confirm {
    left: 15px;
    right: auto !important; }
  .page-user form#user-login #user_login_form,
  .page-checkout form#user-login #user_login_form {
    border-left: 1px solid #444 !important;
    border-right: none !important;
    padding-right: 0;
    padding-left: 20px; }
