/* User menu */
.block-menu-user-menu .content ul.menu li.first {
  border-left: 1px solid #ffffff;
  padding-left: 7px; }
.block-menu-user-menu .content ul.menu li.last {
  padding-right: 7px; }

/* Pseudo Breadcrumb */
#region-breadcrumb .pseudo-breadcrumb li a {
  background: url("../images/btn_close.png") right center no-repeat; }

/* Search api facet blocks */
.region-sidebar-first .block-facetapi ul li a.facetapi-inactive {
  padding-right: 0px; }

/* Blocks */
#promotional_banner {
  left: 0;
  right: -10px; }
  #promotional_banner .promotional_banner_special_offer {
    left: 10px;
    right: auto; }

.block-shipping-discount {
  left: auto;
  right: -50px; }

#region-footer2-second {
  float: left !important;
  padding: 0 !important; }


/* Connect with us */
#block-menu-menu-social-connection h2 {
  background: url("../images/bg_block_footer_title-rtl.png") right top no-repeat !important; }
#block-menu-menu-social-connection .content ul.menu li a.facebook {
  background: url("../images/icon_facebook.png") 98% 50% no-repeat; }
#block-menu-menu-social-connection .content ul.menu li a.twitter {
  background: url("../images/icon_twitter.png") 98% 50% no-repeat; }
#block-menu-menu-social-connection .content ul.menu li a.pinterest {
  background: url("../images/icon_pinterest.png") 98% 50% no-repeat; }

/* All Products Page */
.region-sidebar-first .block-facetapi ul li input.facetapi-checkbox {
  margin: 0 0 0 .5em; }

/* Collection page */
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li.views-row {
  padding-left: 5px; }
  .view-collection-taxonomy-term .view-content .item-list .products-per-collection li.views-row:nth-child(4n+5) {
    clear: right;
    float: right; }

/**************************************************
* --
* 8. Comments
* --
**************************************************/
.node-teaser .links.node-links .links .node-readmore a {
  padding-left: 15px; }
.node-teaser .links.node-links .links .comment-comments a {
  padding-right: 20px; }
  .node-teaser .links.node-links .links .comment-comments a span {
    float: right; }
