/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
/*******************************************
* 2.1.1. Region user first
*******************************************/
.block-menu-user-menu .block-inner {
  float: left;
  margin-left: 10px;
  margin-right: 0px; }

/**
* Connect with us
*/
#block-menu-menu-social-connection h2 {
  background: url("../images/bg_block_footer_title-rtl.png") right top no-repeat; }

/**
* Add to cart popin.
*/
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
  left: 0;
  right: auto; }
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display {
  float: right; }
  div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {
    margin-left: 0;
    margin-right: 130px; }
